:root {
  --primary-color: #506694;
  --secondary-color: #fff;
  --accent-color: #9da9c3;
  --text-color: #000;
  --heading-color: #000;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

p, h1, h2, h3, h4, h5, ul, li, span {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

strong {
  color: var(--accent-color);
}

.container {
  /* max-width: 1200px;
  margin: 0 auto; */
  padding: 0 20px;
}

header {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-photo {
  margin-right: 20px;
}

.profile-photo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

header h1 {
  font-family: 'Poppins', serif;
  font-size: 32px;
  margin: 0;
}

header h2 {
  font-family: 'Nunito Sans', serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

nav {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  /* border-bottom: 4px solid var(--primary-color); */
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-family: 'Poppins', serif;
  font-size: 18px;
}

nav a:hover {
  color: var(--accent-color);
}

main {
  margin: 20px;
}

section {
  margin: 20px 0;
}

section h2 {
  font-family: 'Poppins', serif;
  font-size: 28px;
  /* border-top: 1px solid var(--accent-color); */
  margin-top: 20px;
  padding-top: 20px;
  color: var(--heading-color);
}

section h3 {
  font-family: 'Poppins', serif;
  font-size: 24px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: var(--heading-color);
}

section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section li {
  margin: 2px 0;
  display: flex;
  align-items: baseline;
  font-size: 
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins', serif;
  font-size: 16px;
}

#education-experience-awards > .container, #about > .container, #research-types > .container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

#about {
  text-align: justify;
}

#research-types .section-column {
  min-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#research-types img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#research-types h3 {
  margin-top: -43px;
  color: var(--secondary-color);
}

.section-column {
  flex: 1;
  min-width: 450px;
}

.date {
  font-family: 'Poppins', sans-serif;
  /* font-size: 18px; */
  font-weight: 700;
  margin-right: 10px;
  min-width: 100px;
  color: var(--primary-color);
}

.date-one {
  font-family: 'Poppins', sans-serif;
  /* font-size: 18px; */
  font-weight: 700;
  margin-right: 10px;
  min-width: 50px;
  color: var(--primary-color);
}

.place {
  font-weight: bold;
  color: var(--accent-color);
}

section p {
  margin: 0;
}

#about .section-column:first-child img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

#about .section-column:first-child {
  overflow: hidden;
  flex: 1.2;
}

#about .section-column:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#about .container {
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.buttons a {
  height: 32px;
  margin: 0 10px;
  background: var(--primary-color);
  mix-blend-mode: normal;
}

.buttons img {
  height: 34px;
  mix-blend-mode: lighten;
  margin: -1px;
}

.buttons img:hover {
  opacity: 0.8;
}




